/* Fuentes externas utilizadas */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&family=Nunito&display=swap'); /* 'Noto Sans';'Nunito' */

/* font-family: 'Noto Sans', sans-serif;
font-family: 'Nunito', sans-serif; */

/* Reset general de la página*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

/* Comportamiento scroll en el html */

html {
    scroll-behavior: smooth;
}

/* Establecimiento de pseudoclase root */

:root {
    /* Fuente primaria titulos */
    --fuente-base: 'Noto Sans', sans-serif;
    /* Fuente secundaria */
    --fuente-sec: 'Nunito', sans-serif;
    /* Colores */
    --color-back: #DFF3E3;
    --color-header: #F0F7F4;
    --color-foot: #707070;
    --color-fonts-border: #191516;
    --color-cards-border: #444444;
    --color-forms-items: #38B53E;
    --color-red-adornos: #BA151B;
}

/* INICIO ESTILOS HOJA INDEX.HTML */
/* GRID PROPIEDADES INDEX */

.grilla-contenedor {
    display: grid;
    grid-template-areas: 
    'cabecera cabecera cabecera cabecera' 
    'principal principal article article' 
    'article-2 article-2 article-2 article-2' 
    'pie pie pie pie'
    ; 
    grid-template-columns: repeat(auto-fit, minmax(min(150px, 100%), 1fr));
    grid-template-rows: repeat(auto-fit, minmax(min(100px, 100%), 1fr));
    gap: 30px;
    background-color: var(--color-back);
}
/* 100px repeat(2, 1fr) 100px */

.cabecera-contendor {
    grid-area: cabecera;
}

.container-principal {
    grid-area: principal;
}

.seccion-1 {
    grid-area: article;
}

.seccion-2 {
    grid-area: article-2;
}

footer {
    grid-area: pie;
}


/* Estilos flex del header */

.cabecera-contendor {
    background-color: var(--color-header);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: fit-content;
    position: sticky;
    top: 0;
    padding: 10px;
    z-index: 10;
}


/* Estilos logo header */
.logo-main {
    display: flex;
    margin: 15px;
    width: 150px;
}

/* Estilos barra navegación | header */

.barra-navegacion ul li a {
    font-family: var(--fuente-base);
    color: var(--color-fonts-border);
    background-color: var(--color-back);
    font-size: medium;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    transition: all 0.4s ease-in-out;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
    font-weight: bolder;
}

/* Animaciones de la NAV BAR */

.barra-navegacion ul li a:hover {

    /* Cambia el cursos del mouse */
    cursor: pointer;
    border-bottom: 1px solid var(--color-cards-border);
    background-color: var(--color-forms-items);
    color: var(--color-header);
    border-radius: 10px;
}

.barra-navegacion ul li a:active {
    background-color: var(--color-foot);
    color: var(--color-header);
}

/* Estilos container principal */

.container-principal {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.logo-grande-farmacia{
    display: flex;
    margin: 10px;
    padding: 10px;
    width: 380px;
}

.container-principal h1 {
    display: flex;
    justify-content: center;
    background-color: var(--color-forms-items);
    font-family: var(--fuente-base);
    color: var(--color-header);
    margin-top: 0;
    padding: 5px;
    border-radius: 20px 10px;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
}


.seccion-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 15px;
    height: fit-content;
    background-color: var(--color-forms-items);
    font-family: var(--fuente-sec);
    border-radius: 20px;
    box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
}

.seccion-1 h2 {
    color: var(--color-back);
    margin: 5px;
    padding: 10px;
    font-size: 40px;
}

.seccion-1 h2 span {
    color: var(--color-red-adornos);
}

.seccion-1 p {
    text-align: left;
    font-size: large;
    color: var(--color-back);
}

.seccion-1 p strong {
    color: var(--color-red-adornos);
}

/* Estilos footer o Pie de página */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-cards-border);
    width: 100%;
    padding: 20px;
}

footer p {
    color: var(--color-header);
    font-family: var(--fuente-sec);
    font-weight: bold;
}


/* Media query general grid LAYOUT MOBILE*/
@media only screen and (max-width: 460px) {
    
    .grilla-contenedor {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(150px, 100%), 1fr));
        grid-template-areas: 
        'cabecera'
        'principal'
        'article'
        'article-2'
        'pie';
        gap: 15px;
    }
    footer {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .seccion-2 {
        margin: 15px;
    }

    .container-principal h1 {
        text-align: center;
    }

    .seccion-1 p {
        text-align: center;
    }
}

/* Media query general grid LAYOUT TABLET*/
@media only screen and (max-width: 800px) {
    
    .grilla-contenedor {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(150px, 100%), 1fr));
        grid-template-areas: 
        'cabecera cabecera'
        'principal principal'
        'article article'
        'article-2 article-2'
        'pie pie';
        gap: 15px;
    }

    footer {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .seccion-2 {
        margin: 15px;
    }

    .logo-main {
        width: 160px;
    }
}
/* FIN ESTILOS HOJA INDEX.HTML */


/* INCIO ESTILOS HOJA TESTIMONIOS */

.contenedor-testimonios {
        display: grid;
        grid-template-areas: 
        'cabecera cabecera cabecera cabecera' 
        'articulo1 articulo1 video video' 
        'pie pie pie pie'
        ; 
        grid-template-columns: repeat(auto-fit, minmax(min(400px, 100%), 1fr));
        grid-template-rows: 150px repeat(auto-fit, minmax(min(350px, 100%), 1fr)) 100px;
        gap: 90px;
        background-color: var(--color-back);
}


.cabecera-contendor {
    grid-area: cabecera;
}

.opinion-container {
    grid-area: articulo1;
}
.video-estilo {
    grid-area: video;
}

footer {
    grid-area: pie;
}

/* Estilos contenido articulo */

.opinion-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #38B53E;
    border-radius: 15px;
    margin: 30px;
    padding: 10px;
    height: fit-content;
    text-align: justify;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0.3, 0.2);
}

.opinion-container h2, .opinion-container p {
    font-family: var(--fuente-sec);
    color: var(--color-header);
}

.opinion-container h2 {
    text-align: center;
}

/* Estilos video IFRAME */

.video-estilo {
    border-radius: 20px;
    box-shadow: 3px 3px 4px 4px rgba(0, 0, 0.5, 0.2);
    margin-left: 50px;
}


/* Media query para hoja testimonios FORMATO MOBILE */

@media only screen and (max-width: 460px) {
    .contenedor-testimonios {
        display: grid;
        grid-template-areas: 
        'cabecera' 
        'articulo1'
        'video'
        'video' 
        'pie'; 
        grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
        gap: 20px;
    }

    footer {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .video-estilo {
        width: fit-content;
        height: 350px;
        margin: 15px;
    }

    .opinion-container {
        width: fit-content;
    }
}

/* Media query para hoja testimonios FORMATO TABLET */
@media only screen and (max-width: 800px) {
    .contenedor-testimonios {
        display: grid;
        grid-template-areas: 
        'cabecera cabecera' 
        'articulo1 articulo1'
        'video video'
        'video video'
        'pie pie'; 
        grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
        gap: 20px;
    }

    footer {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .video-estilo {
        width: 95%;
        height: 350px;
        margin: 20px;
    }

    .opinion-container {
        width: fit-content;
    }
}

/* FINAL ESTILOS HOJA TESTIMONIOS */

/* INICIO ESTILOS HOJA PRODUCTOS */

.carrusel-contenedor {
    display: grid;
    grid-template-areas: 
    'cabecera cabecera cabecera cabecera' 
    'carrusel carrusel carrusel carrusel' 
    'pie pie pie pie'
    ; 
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    grid-template-rows: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
    gap: 20px;
}


.productos-contenedor {
grid-area: cabecera;
}

.carrusel-contenedor {
grid-area: carrusel;
}

footer {
grid-area: pie;
}


.carrusel-contenedor {
    margin: 30px;
    border-radius: 20px;
}

.detalles-fotos {
    border: 3px solid var(--color-fonts-border);
    border-radius: 20px;
}

/* Media query para MOBILE */
@media only screen and (max-width: 450px) {

    .carrusel-contenedor {
        display: grid;
        grid-template-areas: 
        'cabecera' 
        'carrusel'
        'carrusel' 
        'pie'; 
        grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
        gap: 20px;
    }

    .carrusel-contenedor {
        width: 85%;
        height: 420px;
        margin-top: 30px;
    }

    .detalles-fotos {
        width: 100%;
    }

    footer {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
}

/* Media query para TABLET */
@media only screen and (max-width: 800px) {

    .carrusel-contenedor {
        display: grid;
        grid-template-areas: 
        'cabecera cabecera' 
        'carrusel carrusel'
        'carrusel carrusel' 
        'pie pie'; 
        grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));
        gap: 30px;
    }

    .carrusel-contenedor {
        width: 92%;
        height: fit-content;
    }

    .detalles-fotos {
        width: 100%;
    }

    footer {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
}